EIO1RQ_1122/xPathEIO1RQ/studentEIO1RQ.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">



<xs:element name="class">
    <xs:complexType>
        <xs:element name="student">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="keresznev" type="xs:string"/>
                    <xs:element name="vezeteknev" type="xs:string"/>
                    <xs:element name="becenev" type="xs:string"/>
                    <xs:element name="kor" type="xs:integer"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
    </xs:complexType>
</xs:element>